# List
### Data Structure:

A data structure is a collection of data elements (such as numbers or charactersâ€”or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

1. List is one of the Sequence Data structure
2. Lists are collection of items (Strings, integers or even other lists)
3. Lists are enclosed in [ ]
4. Each item in the list has an assigned index value.
5. Each item in a list is separated by a comma
6. Lists are mutable, which means they can be changed.

### 1. List Creation

In [ ]:
emptyList = [] # This creates an empty List
print(type(emptyList))

lst = ['one', 'two', 'three', 'four'] # list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] # list of lists

lst4 = [1, 'nilesh', 24, 1.24, [1,2,3]] # list of different datatypes

print(lst4)

<class 'list'>
[1, 'nilesh', 24, 1.24, [1, 2, 3]]

### 2. List Length

In [ ]:
L = [1,2,3,4,5,6,7,8,8]
print("Length of list is {}".format(len(L))) # len() is a function to find out length/ number of items in list

Length of list is 9

### 3. List Append
Append function adds items to the end of the list

***Syntax:***

List_name.append(item_name)

In [ ]:
L.append(999) #element 999 is added at the end of list L
#print(L)
L.append(888)
print(L)

[2, 3, 45, 1, 999, 999, 888, 999, 888, 999, 888, 999, 888]

### 4. List Insert
1. To insert an element in the list at particular location we use insert function.
2. insert function takes two arguments, location and item to be inserted

***syntax:***

list_name.insert ( location , item )

In [ ]:
L = ['n', 'i', 'l', 's','h'] # here at location 3 'e' letter is missing in the name nilesh
                             # 's' and 'h' are shifted to the right by one position
L.insert(3,'e')              # insert function inserts 'e' letter at the location 3

print(L)

['n', 'i', 'l', 'e', 's', 'h']

In [ ]:
L.insert(0,'e')
print(L)

['n', 'i', 'l', 'e', 'e', 'e', 's', 'h']

In [ ]:
L[0] = 'N'
print(L)

['N', 'i', 'l', 'e', 'e', 'e', 's', 'h']

### 5. List Remove
1. To remove an item from the list we use remove() function
2. We donot need to pass location in the remove function
3. Just pass item name that you want to remove from the list

***syntax:***

list_name.remove( item_name )

In [ ]:
L0 = ['n', 'i', 'l', 's','h']
L0.remove('h') # letter 'h' from list will be removed
print(L0)

# what if you try to remove an item that is not present in the list?
#L.remove('k') # this will throw error as 'k' item is not present in the list

#what if multiple occurances of item that we want to remove from the list ?

L1 = [1,2,3,44,55,3,3,3,3,3,3,3]
L1.remove(3)
print(L1)

# in this case first occurance of '3' is removed!

L0.remove(89)

['n', 'i', 'l', 's']
[1, 2, 44, 55, 3, 3, 3, 3, 3, 3, 3]

ValueError: ignored

### 6. List Delete or Pop
1. To delete list item using index del ***keyword*** is used
2. It takes only one argument i.e. index location of which you want to delete item
3. Similar operation can be performed using function pop()
4. pop() function takes index location as an argument
5. Both operations performs left shift of following items after deletion
6. pop() function also returns the deleted value
***syntax:***

del list_name[index]

var_name = list_name.pop(index)

In [ ]:
L1 = [1,2,3,4,5,6,7,8]

#del L1[4] # deletes the item from list L1 indexed at location 4
#print("List after delete ", L1)

var = L1.pop(4)
print("List after pop ", L1)

print("poped item: ",var)

List after pop  [1, 2, 3, 4, 6, 7, 8]
poped item:  5

### 7. List Append
1. It appends list at the end of another list
2. Note that another appended list is considered as an item in the original list

***syntax:***

list1.append(list2)

In [ ]:
L1 = [1,2,3]
L2 = ['a','b','c']

L1.append(L2) # Entire L2 as a list will be appended at the end of list L1
print(L1)

[1, 2, 3, ['a', 'b', 'c']]

### 8. List Extend
1. It extends the original list with another list items
2. First list items remains as it is, second list items are appended as items.
3. Unlike Append where entire list is appended as an item in original list

***syntax:***

list1.extend(list2)

In [ ]:
L1 = [1,2,3]
L2 = ['a','b','c']

L1.extend(L2) # items of L2 are appended as items at the end of L1 list

print(L1)

[1, 2, 3]

In [ ]:
for ele in L2:
  L1.append(ele)
print(L1)

[1, 2, 3, 'a', 'b', 'c']

### 9. List Reverse
1. The reverse function is used to completely reverse the strin items

***syntax:***

List_name.reverse()

In [ ]:
L = [1,2,3,4,5,6]
print("List before reverse",L)
L.reverse()
print("List after reverse",L)

List before reverse [1, 2, 3, 4, 5, 6]
List after reverse [6, 5, 4, 3, 2, 1]

In [ ]:
L = [1,2,3,4,5,6]
l1 = []
# l1[:] = L[::-1]
# print(l1) 
                
for i in range(len(L)-1,-1,-1): #range(5,-1,-1)
  l1.append(L[i])
print(l1)

[6, 5, 4, 3, 2, 1]

### 10. List Sorting
### 10.1 using sorted() function

1. The easiest way to sort a List is with the sorted(list) function.
2. That takes a list and returns a new list with those elements in sorted order.
3. The original list is not changed.
4. The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.

***syntax***

sorted_list = sorted(input_list)                  # for ascending order

sorted_list = sorted(input_list, reverse = True)  # for descending order

In [ ]:
L = [1,6,88,2,3,-1, 4,5, 120, 6,7,8]
print("L is ", L)
sorted_L = sorted(L)
print("sorted_L is",sorted_L)# Sorts list in ascending order by default

sorted_L_reerse = sorted(L, reverse = True)
print("sorted_L is",sorted_L_reerse) # Sorts list in descending order

L is  [1, 6, 88, 2, 3, -1, 4, 5, 120, 6, 7, 8]
sorted_L is [-1, 1, 2, 3, 4, 5, 6, 6, 7, 8, 88, 120]
sorted_L is [120, 88, 8, 7, 6, 6, 5, 4, 3, 2, 1, -1]

### 10.2 using sort() function
1. sort() function sorts the list itself 
2. No need to create new list store sorted list

***syntax:***

list_name.sort()

In [ ]:
L1 = [1,2,3,55,-1,0,54,-7]
print("L1 before sorting: ",L1)
L1.sort()
print("L1 after sorting: ",L1)

L1 before sorting:  [1, 2, 3, 55, -1, 0, 54, -7]
L1 after sorting:  [-7, -1, 0, 1, 2, 3, 54, 55]

### 11. List having multiple references

In [ ]:
List1 = [1,2,3,4,6]
List2 = List1.copy() # This is not a deep copy but a shallow copy
print("List1 = ",List1,"    List2 = ", List2)
print("Adress of  List1: ", id(List1))
print("Adress of  List2: ", id(List2)) # Both list variables points at same memory location
# #Python internally tries to optimize memory allocation

# #if you make change in List1? Changes are reflected in both lists
List2[3] = 23659
print("List1 = ",List1,"    List2 = ", List2)
# print("Adress of  List1: ", id(List1))
# print("Adress of  List2: ", id(List2)) # Both list variables points at same memory location

List1 =  [1, 2, 3, 4, 6]     List2 =  [1, 2, 3, 4, 6]
Adress of  List1:  139950580597448
Adress of  List2:  139950580165448
List1 =  [1, 2, 3, 4, 6]     List2 =  [1, 2, 3, 23659, 6]

### 9. Two keywords used on List: ***in*** and ***not in*** 
1. "in" checks whether item is present in the list or not
2. "not in" checks whether item is not present in the list or not

In [ ]:
L1 = [1,2,3,4,6]
if 3 in L1:
    print("3 present in list")
if 5 not in L1:
    print("5 not present in list")

3 present in list
5 not present in list

### 10. String Split to create list
1. Sometimes it is necessary to convert string into a list to perform list related operations.

***syntax:***

string_name.split('sepearator')

1. Here split function takes and argument as a seperator. string is converted into list elements based on these seperator
2. If parameter is not passed then default seperator is whitespace

In [ ]:
# string = "My name is nilesh. I like Python"
# List = string.split() # default split method considers whitespace as sperator
# print(List)

string1 = "one, two, three, four, five"
List1 = string1.split(',') # here ',' is considered as seperator
print(List1)

# List3 = string.split(',') # Though here ',' is not availabe hence entire string is considered as list item
# print(List3)

['one', ' two', ' three', ' four', ' five']

In [ ]:
num1, num2 = input("Enter Two numbers").split(",")

print(num1)
print(num2)

Enter Two numbers3,4
3
4

### 11. List Indexing
1. List is an ordered collection of items of different types
2. one can access list items using indices
3. Slicing of list is Accessing parts of segments.

***syntax:***

list[start_index: end_index: step_size]

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[5])   # prints list item indexed at location 5
print(L[-1])  # prints last list item 
print(L[-2:]) # prints all list item staring from second last index till list ends
print(L[2:])  # prints all list item staring from index 2 item till list ends
print(L[:])   # prints all elements of the list

print(L[2:8:2]) # prints list element starting from index 2 to index 8 with step size 2

print(L[::2]) # prints list element starting from index 0 to last element of list with step size 2

5
9
[8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6]
[0, 2, 4, 6, 8]

### 12. List extending using '+' operator
1. Two list elements are combined to form new list using '+' operator
2. The order of elements remains are as per the squence of operands

In [ ]:
L1 = ['a','b','c']
L2 = [1,2,3]

L3 = L1+L2

print(L3)

['a', 'b', 'c', 1, 2, 3]

### 13. List count
1. This function is widely used in data science applications
2. To count particular occuarnces (frequency) of an element from the list count() function is used

***syntax:***

list_name.count(item_name)

In [ ]:
L = [1,54,76,98,0,2,456,768,1,0,54,1,65,78,238,1,0,0]

print(L.count(0)) # prints number of occurances of list item '1' in L

4

### 14. Looping through list

In [ ]:
L = ['nilesh', 'likes', 'Python', 'the', 'most']
for i in range(0,len(L)):
  print(L[i])

nilesh
likes
Python
the
most

In [ ]:
L = ['nilesh', 'likes', 'Python', 'the', 'most']

for god in L:
    print(god)

nilesh
likes
Python
the
most

### 15. List Comprehensions

1. List comprehensions provide a concise way to create lists.
2. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [6]:
# example to create list which stores squares of first 10 numbers

# Without List Comprehensions

Squares = [] # created an empty list 1, 4, 9, 16, 25 .... 100

# for i in range(1,11,1):
#     Squares.append(i**2)
# print(Squares)

squares2 = [i ** 2 for i in range(1,11,1)]
print(squares2)




# # With List Coprehensions

# squares = [i ** 2 for i in range(10)] # Same functionality but reduced code size
# print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### more examples on list comprehensions

In [11]:
List = [0,1,-2,3,4,-5,6,7,8,-9]
print("List     = ",List)
# # list comprehension to double every element of the List and store in new list
# newList = [ele * 2 for ele in List]
# print("New List = ", newList)

# # for ele in List:
# #   newList.append(ele*2) 

1, 1
2, 4
3, 9

negativeNums = []
for ele in List:
    negativeNums.append((ele,ele**2))
print(negativeNums)

negativeNums = [(ele,ele**2) for ele in List]
print(negativeNums)
# # list comprehension to print only positive numbers
# newList = [i for i in List if i > 0]
# print("New List = ", newList, "Printing only +ve numbers")

# # List comprehensions to create list of tuples

# newList = [(i,i*2) for i in List]
# print(newList)

List     =  [0, 1, -2, 3, 4, -5, 6, 7, 8, -9]
[(0, 0), (1, 1), (-2, 4), (3, 9), (4, 16), (-5, 25), (6, 36), (7, 49), (8, 64), (-9, 81)]

### Matrix transpose with and without list comprehensions

In [17]:
Matrix = [
    [1,  2,  3,  4],
    [5,  6,  7,  8],
    [-1,-2, -3, -4]
]

#print(Matrix[1][2])
#Matrix transpose without list comprehensions

Transpose = [] # created an empty list

for i in range(4):   # i = 1
    lst = []         # lst = []
    for row in Matrix: #  [5,  6,  7,  8]
        lst.append(row[i]) # lst = [2,6]
    Transpose.append(lst) # Transpose = [[1,5,-1], ]
print("Matrix = ",Matrix)
print("Transposed Matrix = ",Transpose)

Matrix =  [[1, 2, 3, 4], [5, 6, 7, 8], [-1, -2, -3, -4]]
Transposed Matrix =  [[1, 5, -1], [2, 6, -2], [3, 7, -3], [4, 8, -4]]

In [ ]:
# Matrix tranpose using List Comprehensions

Transposed = [[row[i] for row in Matrix] for i in range(4)]
print("Transposed Matrix = ",Transposed)

Transposed Matrix =  [[1, 5, -1], [2, 6, -2], [3, 7, -3], [4, 8, -4]]

In [20]:
# create a list with initial letters 
lst = ['Nilesh', 'Sony', 'Siddhi']

initial = []
for ele in lst:
  initial.append(ele[0])
print(initial)


lst2 = [name[0] for name in lst]
print(lst2)

['N', 'S', 'S']
['N', 'S', 'S']

In [22]:
# reverese strings from lst and put in new list
lst = ['Nilesh', 'Sony', 'Siddhi']
reversed = []
for name in lst:
  reversed.append(name[::-1])
print(reversed)

newList = [name[::-1] for name in lst]
print(newList)

['hseliN', 'ynoS', 'ihddiS']
['hseliN', 'ynoS', 'ihddiS']

In [ ]:
def revereseString(l):
  return [name[::-1] for name in l]
print(revereseString(lst))

In [23]:
numList = list(range(1,11))
numList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
evenList = []
for num in numList:
  if num%2 == 0:
    evenList.append(num)
print(evenList)

evenList2 = [num for num in numList if num%2 == 0]
evenList2

[2, 4, 6, 8, 10]

In [ ]:
lst = [1,34,4.6,"Nilesh", [1,2,90.4], True, False]
# create new list which contains only numerical values and store as string

newList = [str(item) for item in lst if str(item).isnumeric()]
newList

In [ ]:
# Convert float and int type elements into string
newList = [str(item) for item in lst if (type(item) == int or type(item) == float)]
newList

In [ ]:
# Nested list comprehension
# create list [[1,2,3,4],[1,2,3,4],[1,2,3,4]]

nestedListComp = [[i+j for i in range(1,5)] for j in range(1,4)]
nestedListComp

### Exercise
1. Write a function that will take a list as an input and return square of the numbers in new list
2. Write a function that will take a list as an input and return revesed list.
3. Write a function that will take a list of words as an input and return revesed words of the list.
4. Write a function that will take a list of numbers as an input and return the list which will have two lists one is even and other is odd.\
5.  Write a function that will take two lists of numbers as an input and return a list of common numbers
6. Write a function that will take input as a mixed list and return number of lists from the list

# End of List Chapter