# Tuples
1. A tuple is similar to list
2. The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed
3. hence tuplse are refered as read only or immutable

***syntax:***

T = () 

This creates an empty tuple. Note that to create tuple we use () parantheses

In [2]:
# creatin tuple

T = () # This creates an empty tuple
T = (1,2,3,4) # Tuple with 4 elments

#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [6]:
#only parenthesis is not enough
t = ('Python')
print(type(t))

t2 = ('Python',)
print(type(t2))

#parenthesis is optional
t3 = "Python", 
print(type(t3))

print(t3)

<class 'str'>
<class 'tuple'>
<class 'tuple'>
('Python',)

In [8]:
# Accessing tuple elements is same as list elements
t = ('Python', 'Java', 'C++', 'C', 'Assembly')

print(t[1])

#negative index
print(t[-1]) #print last element in a tuple

Java
Assembly

In [10]:
# Nested tuple
Languages = ('Python', 'Java', 'C++', ('C', 'Assembly'))
print(Languages[3]) # This considers entire small tuple as tuple element

print(Languages[3][0]) #This is to print inside tuple elements

('C', 'Assembly')
C

In [11]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

### Modifying tuple

In [13]:
T1 = (1,2,3,4,"Python", ["Ruby", "Pascal", "Scala"])

#T1[0] = 99 # This will throw an error as tuples are immutable

T1[5][1] = "Erland"

print(T1)

(1, 2, 3, 4, 'Python', ['Ruby', 'Erland', 'Scala'])

In [16]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

### Tuple Index

In [17]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1

2

### Tuple Memebership

In [18]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

print(7 in t)

True
False

### Tuple Length

In [19]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

### Tuple sort

In [20]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

### Tuple Max

In [21]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

### Tuple min

In [22]:
#get the smallest element in a tuple
print(min(t))

1

### Tuple sum

In [23]:
#get sum of elments in the tuple
print(sum(t))

23

### Tuple deletion

1. We cannot change the elements of tuple and also we cannot remove an item from tuple
2. However, we can delete entire tuple using del keyword

In [4]:
T = (1,2,3,4,5,)
del T

### Tuple count
1. To find frequency of an element from tuple we use count function

In [5]:
T = (1,1,1,1,13,3,3,3,35,4,3,3,22,1)
T.count(1)

5

### Tuple index
1. To find index of an element from the tuple index function is used
2. If multiple items with same value, then index of first occurance is returned

In [6]:
T.index(3)

5

### Tuple Membership
1. To check if particular item present in tuple we use ***in*** or ***not in*** keywords

In [8]:
T = ('q','T','Pi')
if 'Pi' in T:
    print("Pi present in tuple")
if 'cutiePi' not in T:
    print("cutiePi Not present in tuple")

Pi present in tuple
cutiePi Not present in tuple

### Tuple sort
1. Remember tuple is immutable hence if we apply sort function on tutple new List is cretaed
2. Tuple cannot sort itself

In [11]:
# T.sort() # 

NewT = sorted(T)
print(NewT)

['Pi', 'T', 'q']

### Min Max and Sum on Tuple

In [13]:
T = (3,4,7,2,0,8,3,4,-1)

maxT = max(T)
print("Max = ", maxT)

minT = min(T)
print("Min = ",minT)

sumT = sum(T)
print("Sum = ",sumT)

Max =  8
Min =  -1
Sum =  30