1. Range based for loop
2. Conditioned while loop
3. List based for loop

1. repeated 
2. For While

In [11]:
print("Nilesh")
print("Nilesh")
print("Nilesh")

Nilesh
Nilesh
Nilesh

In [16]:
#range(start, end, step) #
# Range of values from 'start' to 'end' with step size as 'step'
range(10,21,1) # 10, 11, 12, 13 ....20
range(10,21,2) # 10, 12, 14, 16, 18, 20

range(100,201,10) # 

numbers = list(range(10,51,5))
print(numbers)

[10, 15, 20, 25, 30, 35, 40, 45, 50]

In [27]:
for ele in range(30,20,-1): # 0,1,2,3,4,5,6,7,8,9,10
  if ele %2 != 0:
    print(ele)
# print all odd numbers from 20 to 30 in reverse order

29
27
25
23
21

1. Print First 10 natural numbers using while loop
2. Print First 10 natural numbers using for loop
3. Accept number from user and calculate the sum of all number between  1 and given number
4. Print multiplication table of given number
5. Given a number count the total number of digits in a number
6. Reverse the following list using for loop
7. Display -10 to -1 using for loop
8. Use a loop to display elements from a given list which are present at even positions
9. Display the cube of the number up to a given integer
10. Write a function that takes a list of integers as a parameter and returns the max element in the list.

In [29]:
# Print First 10 natural numbers using for loop
for ele in range(10):
  print(ele)

0
1
2
3
4
5
6
7
8
9

In [36]:
# Accept number from user and calculate the sum of all number between 1 and given number
# Eg 7
# Output -> 1 + 2 + 3 + 4 + 5 + 6 + 7

num = int(input("Enter number"))
print(num)
print(type(num))
sum = 0
for n in range(1,num+1):
  sum = sum + n
  # sum     # n
  # 0       # 1    updated sum = 0 + 1 = 1
  # 1       # 2    updated sum = 1 + 2 = 3
  # 3       # 3    updated sum = 3 + 3 = 6
  # 6       # 4    updated sum = 6 + 4 = 10
  # 10      # 5    updated sum = 10 + 5 = 15
print(sum)

Enter number50
50
<class 'int'>
1275

In [38]:
# Print multiplication table of given number
# 7 x 1 = 7
# 7 x 2 = 14
# 7 x 3 = 21
# 7 x 4 = 28
#....
# 7 x 10 = 70

# input - any number
# output - multiplication table for that number

num = int(input("Enter a number for which you want to print multiplication table: "))

for i in range(1,11,1):
  print("{} x {} = {}".format(num,i,num*i))

Enter a number for which you want to print multiplication table: 23
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

In [43]:
# Given a number count the total number of digits in a number
# Eg. 12
# output - 2

num = int(input("Enter number"))
for i in num:
  print(i)

#print(len(num))

Enter number5
0
1
2
3
4

In [46]:
x=input('enter a number')
count=0
for i in x:
  count+=1
print(count)

enter a number9834
4

In [48]:
a= input("enter the number")
count=0
for i in range(1,len(a)+1):
  count+=1
print(count)

enter the number10834731894
11

In [57]:
# Reverse the following list using for loop

l = [1,2,3,4,5,6]

for i in range(len(l)-1, -1,-1): # range(5,-1,-1)
  print(l[i])

6
5
4
3
2
1

In [55]:
print(l[::-1])

[6, 5, 4, 3, 2, 1]

In [58]:
# Display the cube of the number up to a given integer
# 6 1^3, 2^3, 3^3 ...6^3

num = int(input("Enter number"))

for i in range(1,num+1,1):
  print(i**3)

Enter number5
1
8
27
64
125

In [61]:
# Write a program takes a list of integers as a input and print the max element in the list.

#L = [1,54,76,3,44,90,0]
L =[]
for i in range(3):
  num = int(input("Enter number"))
  L.append(num)
print(L)

max = -1
for i in L:
  if max < ele:
    max = ele
print(max)

Enter number1
Enter number4
Enter number5
[1, 4, 5]

In [62]:
max = -1
for i in range(3):
  num = int(input("Enter number"))
  if max < num:
    max = num
print(max)

Enter number1
Enter number99
Enter number0
99